body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
.color-orange{
    color:orange
}
.button-style{
    color:white;
    font-weight:700;
    background-image: linear-gradient(orange,tomato);
    padding:15px;
    border-radius: 50px;
}
.flexiable-display{
    display:flex;
    margin-bottom: 60px;
}
.half-width{
    width: 50%;
    padding:3%;
}
.half-width img{
    width:70%;
}
.buttom{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.middle{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.my-recipies-text{
    text-align: center;
}
.recipie-design{
    width:50%;
    margin-left:5%;
    margin-right:5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px gray;
}
.recipie-design img{
    width: 100%;
}
.followers-design{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
    padding-left:15%;
    padding-right: 15%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
}
.footer-design{
    text-align: center;
    color:white;
    background-color:darkgray;
}